

.qw {
        width: 100%;
        height: 86vh;
}
.qe {
        width: 100%;
        height: 86vh;
}
.qr {
        width: 100%;
        height: 86vh;
}
.qt {
        width: 100%;
        height: 86vh;
}
.qy {
        width: 100%;
        height: 86vh;
}
.qu {
        width: 100%;
        height: 86vh;
}
.qi {
        width: 100%;
        height: 86vh;
}
.qo {
        width: 100%;
        height: 86vh;
}





.img-wrapper {
        overflow:hidden;
        height:auto;
        width:auto;       
}
img.hover-zoom:hover {
        transform: scale(1.1);
}


.img-wrapper1 {
        overflow:hidden;
        height:auto;
        width:auto;
       
}
img.hover-zoom1:hover {
        transform: scale(1.1);
}

.img-wrapper2 {
        overflow:hidden;
        height:auto;
        width:auto;
}
img.hover-zoom2:hover {
        transform: scale(1.1);
}
.main-footer{
        color:white;
        background-color: black;
        padding-top:3em;
        position:relative;
        bottom:0;
        width:100%;
}

.img-wrapper3 {
        overflow:hidden;
}
img.hover-zoom3:hover {
        transform: scale(1.1);
}
.img-wrapper4 {
        overflow:hidden;
}
img.hover-zoom4:hover {
        transform: scale(1.1);
}
.img-wrapper5 {
        overflow:hidden;     
}
img.hover-zoom5:hover {
        transform: scale(1.1);
}

.img-wrapper6 {
        overflow:hidden;
}
img.hover-zoom6:hover {
        transform: scale(1.1);
}

.img-wrapper7 {
        overflow:hidden;
}
img.hover-zoom7:hover {
        transform: scale(1.1);
}

.img-wrapper8 {
        overflow:hidden;     
}
img.hover-zoom8:hover {
        transform: scale(1.1);
}

.img-wrapper9 {
        overflow:hidden;   
}

img.hover-zoom9:hover {
        transform: scale(1.1);
}

.img-wrapper10 {
        overflow:hidden;    
}
img.hover-zoom10:hover {
        transform: scale(1.1);
}

.img-wrapper11 {
        overflow:hidden;     
}
img.hover-zoom11:hover {
        transform: scale(1.1);
}
